@import 'packages/menu-item/menu-item.scss';

.menu-list{
	float: left;

	width: 270px;
	height: 100%;
	padding: 20px 0;

	background: #222;

	&__logo{
		width: 65%;
    height: 200px;    
    margin-left: 70px;

		background: url('./logo.png') no-repeat; 
		background-size: 75% 75%;
	}
}
