@import 'packages/search-field/search-field.scss';
@import 'packages/mini-movie/mini-movie.scss';
@import 'packages/full-movie/full-movie.scss';

.main-page{
	position: relative;
	height: 100%;
}

.error-message{
	font-weight: bold;
	font-size: 25px;
	color: red;
}

.main-page__container{
	display: flex;	
	flex-wrap: wrap;
	justify-content: space-around;
	align-items: stretch;
}