@import 'packages/menu/menu.scss';

*{  
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
     -moz-box-sizing: border-box;
          box-sizing: border-box;
}

html{
	height: 100%;
}

body {
  margin: 0 auto;
  padding: 0;

  height: 100%;

  background: #ddd;

  font-family: Arial;
  font-size: 14px;
}
