.movie-box{
	width: 900px;
	height: 180px;
	margin: 20px;	
	
	position: relative;
	display: inline-block;

	font: normal 16px "Century Gothic";

/*	transition: transform 1s ease-in-out; */

	&__front{
		overflow: hidden;
		backface-visibility: hidden;
		position: absolute;

		width: 900px;
    height: 180px;

		background: #333;
		border-radius: 40px;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

		background-repeat: no-repeat;
		background-position: center;
		background-size: 100% 500%;		
	
		text-align: right;
		z-index: 2;
	}

	&__front:before {
		content: "";

    background: inherit;
    filter: blur(10px);

    width: 900px;
    height: 180px;
    
    position: absolute;
    top: 0;
    left: 0;
	}

	&__back{
		transform: rotateX(180deg);
		
		border-radius: 40px;
		
		height: 180px;
		padding: 0 20px;

		background: #c3bbbb;

		overflow: hidden;
	}

	&__plot{
		color: #0087cc;    
    font-size: 30px;
	}

	&__close{		
		top: 10px;		

		color: #fff;
		font-size: 30px;

		background: rgba(0,0,0,0);

		border: 2px solid #fff;
		border-radius: 50%;
		
		outline:none;	
		cursor: pointer;	
	}

	&__watch{
		top: 80px;
		background-image: url(./watch.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__title{	
		margin: 10px 0;
		margin-right: 100px;
		margin-left: 200px;

		position: absolute;
    right: 0;
		
		font-size: 30px;
		line-height: 35px;
		color: #fff;
	}

	&__info{
		margin-right: 100px;

		position: absolute;
    right: 0;
    top: 80px;
		
		font-size: 20px;
		color: #fff;
	}
}

.twirl{ 
   transform-style: preserve-3d;  
   transition: transform 1s ease-in-out;  
}

.twirl:hover {
  transform: rotateX(180deg);
}

.btn{
	position: absolute;
	right: 15px;

	width: 50px;
	height: 50px;

	cursor: pointer;
}
