.movie-box{
	width: 900px;
	height: 180px;
	margin: 20px;	
	
	position: relative;

	background: #333;
	border-radius: 40px;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);

	background-repeat: no-repeat;
	background-position: 50% 25% center;		
	background-size: 16% 100%;	

	display: inline-block;

	font: normal 16px "Century Gothic";
	text-align: left;

	&__close{		
		top: 10px;		

		color: #fff;
		font-size: 30px;

		background: rgba(0,0,0,0);

		border: 2px solid #fff;
		border-radius: 50%;
		
		outline:none;	
		cursor: pointer;	
	}

	&__watch{
		top: 80px;
		background-image: url(./watch.png);
		background-size: contain;
		background-repeat: no-repeat;
	}

	&__title{
		width: 600px;
		margin: 10px 0;
		margin-left: 170px;
		
		font-size: 30px;
		line-height: 35px;
		color: #fff;
	}

	&__info{
		margin-left: 170px;
		
		font-size: 20px;
		color: #fff;
	}
}

.down{
	top: 10px;
	box-shadow: none;
}

.up{
	top: 0;
	box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
}

.btn{
	position: absolute;
	right: 15px;

	width: 50px;
	height: 50px;

	cursor: pointer;
}
