.menu-list__item {
    margin: 0 20px;
    padding: 15px;

    color: #656565;
    border-bottom: 1px solid #656565;
    border-left: 1px solid rgba(0,0,0,0);

    font-size: 16px;

    text-decoration: none;

    display: block;

    &:hover {
        cursor: pointer;

        color: #D1503B;
        border-left: 1px solid #D1503B;
    }
   
    &:active{
      text-decoration: none;
    }
}

.active{
  color: #D1503B;
  border-left: 1px solid #D1503B;
}
