img{
	width: 200px;
	height: 300px;
	padding: 3px;

	border: 2px solid #D2D7D7;
	border-radius: 3px;
}

.mini-movie{
	display: inline-block;

	cursor: pointer;

	width: 210px;
	height: 400px;	

	font-size: 18px;
	word-wrap: break-word;
}

.mini-movie__title{
	font-weight: bold;
}