.mini-movie{
	display: inline-block;

	width: 200px;
	height: 400px;
	margin: 0 10px;

	cursor: pointer;
	word-wrap: break-word;

	font: normal 18px/25px Arial;

	&__title{
		margin-top: 10px;

		font-weight: bold;
	}

	&__poster{
		width: 200px;
		height: 300px;
		padding: 3px;

		transition: background 1s ease;

		border-radius: 30px;
		background-repeat: no-repeat;
		background-position: center center;
		box-shadow: 0 14px 28px rgba(0,0,0,0.25), 0 10px 10px rgba(0,0,0,0.22);
	}

}
