.mini-movie{
	display: inline-block;

	cursor: pointer;

	width: 210px;
	height: 400px;	

	font: normal 18px/25px Arial;
	word-wrap: break-word;

	&__title{
		font-weight: bold;
	}

	&__poster{
		width: 200px;
		height: 300px;
		padding: 3px;

		border: 2px solid #D2D7D7;
		border-radius: 3px;
	}

}

