@import 'packages/rating/rating.scss';

.fixed-container{
	position: absolute;
		
	left: 0;
	transition: top .5s ease;		
}

.show{
	top: 0;
}

.hide{
	top: -100%;
}

.full-movie{
	position: fixed;
	
	display: flex;
	align-items: center;

	width: 1190px;
	height: 100%;

	color: white;
	background-color: rgba(0,0,0,.3);

	&__container{
		position: relative;

		clear: both;

		width: 100%;
		min-height: 600px;

		text-align: left;

		background-color: #333;

		font: normal 16px "Century Gothic";
	}

	&__title{
		width: 800px;
		margin: 30px;
		margin-bottom: 0;

		font-size: 42px;
		line-height: 50px;
	}

	&__plot{
		display: inline-block;

		width: 550px;		

		font-size: 18px;
		line-height: 20px;
	}

	&__bookmark{
		right: 100px;
	}

	&__close{
		right: 30px;

		color: #fff;
		border: 2px solid #fff;
		border-radius: 50%;
		outline:none;
		background: rgba(0,0,0,0);

		font-size: 30px;
	}

	&__poster{
		float: left;

		width: 300px;
		height: 450px;
		margin: 0 30px;
		margin-bottom: 30px;
		padding: 10px;

		border: 2px solid #D2D7D7;
		border-radius: 3px;
	}

	&__info{
		margin: 10px 40px;
		margin-bottom: 30px;
	}
}

.button{
	position: absolute;
	top: 30px;

	width: 50px;
	height: 50px;

	cursor: pointer;
}

.cast{
	width: 100px;

	position: absolute;
	top: 100px;
	right: 80px;

	list-style-position: inside;
	list-style-type: none;

	&__header{
		padding: 10px 0;

		font-size: 20px;
	}

	&__main{
		font-size: 12px;
	}

	&__surname{
		padding: 10px 0;

		font-size: 16px;
	}
}
