@import 'packages/search-field/search-field.scss';
@import 'packages/mini-movie/mini-movie.scss';
@import 'packages/full-movie/full-movie.scss';

.search-page{
	position: relative;

	height: 100%;

	&__container{
		display: flex;	
		align-items: stretch;	flex-wrap: wrap;
		justify-content: space-around;

	}

	&__link{
		text-decoration: none;
		color: #000;
	}
}

.error-message{
	color: red;

	font-size: 25px;
	font-weight: bold;
}

.stub{
	background: #FFEEB4;
	
	border: 5px dashed #DCBF5B;
	border-radius: 40px;
	
	display: inline-block;

	margin: 20px;

	color: #DCBF5B;
	font-size: 45px;	

	&__news{
		width: 70%;
		height: 700px;
	}

	&__adv{
		width: 20%;
		height: 700px;
	}
}
